/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/* include this always in css probably */
/* * { 
  margin: 0; 
  padding: 0; 
 }  */
html,
body { 
  background-color: white;
  margin: 0; 
  padding: 0; 
  text-align: center;
  position: relative;
  height: 100%;
  /* font-size: 555px; */
  /* font-size: 55px; */
  /* font-family: 'Fredericka the Great';  */
  /* font-family: 'Roboto', arial; */
  /* font-family: Arial, CenturyGothic, sans-serif; */
  /* font-size: 18px; */
}

/* no scrollbar for images that overflow */
img {
  /* max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  max-width: 100%; */
}

.container {
  display: flex;
  flex-direction: column;
}

/* input, label {
  display:block;
} */

.upper_section {
  color: rgb(162, 182, 227);
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(137, 93, 157); */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  /* padding: 0.1rem; */
  width: auto;
  /* width:100%; */
  /* gap:15rem; */
}


.brand_container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-left:2rem;
  /* margin-left: 5rem;
  margin-right: 100rem; */
  /* margin-right: 35rem; */
}

.navbar_container {
  width: 27rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 3rem; */
  color:black;
  gap: 3.75rem;
  /* width: 100%; */
}

/* invisible third item to align the navbar the way we like it */
.upper_section_third_item{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right:32rem;
  visibility: hidden;
  /* margin-right:50rem; */
}

.dropdown {
  display: none;
}

hr {
  width: 2.5rem;
  margin: auto;
  background-color: black;
  border: none;
  height: 0.156rem;
}

.second_section_home {
  color: black;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/piercing_diamond6.png);
  /* background-color: #3b065e; */
  /* background-position: 50% 50%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  /* padding: 20rem; */
  /* position: relative; */
  /* max-width: 100%; */

  height: 30rem;
  /* height: auto; */
  /* width: 100%; */
  /* width:auto; */
  /* max-width: 100%; */
  /* max-width: 100%; */
  /* max-width: 100%;  */
  max-height: 100%;
}

.third_section_title {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center;
  align-items: center; */

}

.third_section_title
.third_section_text1{
  /* font-family: Fredericka the Great; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 3.438rem;
  /* font-style: normal;
  font-weight: 400; */
  font-family: 'Fredericka the Great';
  /* padding: 5.5rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.third_section_title
.third_section_text2{
  font-size: 2.188rem;
  /* font-style: normal;
  font-weight: 400; */
  /* font-family: 'Rubik Bubbles'; */
  /* font-family: worksans-extralight,work sans,sans-serif; */
  font-family: "Geotica W01 Four Open";
  /* padding: 5.5rem; */
  /* padding: 0.5rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/* fix the spacing that comes by default by user stylesheet */
.third_section_text1 p{
  margin-block-end: 0px; 
}

/* fix the spacing that comes by default by user stylesheet */
.third_section_text2 p{
  margin-block-start: 0px; 
  /* margin-inline-start: 0px; */
} 


.third_section_title
.third_section_text_contact{
  /* font-family: Fredericka the Great; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 2.35rem;
  /* font-style: normal; */
  font-weight: 700;
  font-family: "Fredericka the Great", 'fantasy';
  /* line-height: 42px; */
  line-height: 1.4em;
  letter-spacing: normal;
  font-stretch: 100%;
  /* padding: 5.5rem; */
  font-kerning: auto;
  font-optical-sizing: auto;
  padding-bottom: 2rem;
  padding-left: 3rem;
  /* max-width: 100% auto; */
}

form
input{
  width: 28.125rem;
  box-shadow: 0px 0px 0px;
  border-top : none;
  border-left : none;
  border-right : none;
  height: 2.75rem;
}

.control{
  height: 2.75rem;
}

.field{
  width:28.125rem;
  height:3.75rem;
  margin-bottom: 2.0625rem;
}

.field
label{
  vertical-align: baseline;
  /* max-width: 100%; */
  /* background-color: yellow; */
  width: 430px;
  font-weight: 400;
  display: flex;
  align-content: flex-start;
  line-height: 0.875rem;
}

#form{
  /* width: 540px;
  height: 764px; */
  padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  /* box-shadow: 0px 0px 0px !important;
  border-top : none;
  border-left : none;
  border-right : none; */
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* justify-content: center; */
}

button{
  font-size: 19.5px;
  /* height: 42px; */
  color: rgb(255, 255, 255);
  outline-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: Arial;
  cursor: pointer;
  /* border-radius: 10px; */
  /* width: 147px; */
  font-stretch: 100%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-right-width: 2px;
  border-right-style: solid;
  border-left-width: 2px;
  border-left-style: solid;

  width: 150px;
  height: 40px;
  border-radius: 20px;

}

/* .control
.input {
  box-shadow: 0px 0px 0px;
  border-top : none;
  border-left : none;
  border-right : none;
} */

.control
.textarea {
  /* box-shadow: 0px 0px 0px !important; */
  box-shadow: 0px 0px 0px;
  border-top : none;
  border-left : none;
  border-right : none;
  resize: none;
  width: 28.125rem; 
  /* box-shadow: inset; */
  /* font-weight: 400; */
  /* border-bottom-color: rgb(118,118,118); */
  /* background-color: rgb(255,255,255);
  border-image-width: 1; */
  border-width: 2px;
  height: 2.75rem;
}

.fourth_section_title{
  color: black;
  /* background-color: blue; */
  /* display: flex; */
  display: hidden;
  align-items: center;
  justify-content: center;
  /* background-image: url(../img/2.jpg); */
  /* background-color: #3b065e; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  padding: 15rem;
  position: relative;
  margin:10px 40px 20px 40px;
}

.fifth_section_title_a{
  font-family: "Snell Roundhand W01 Script";
  padding-top: 5rem;
  font-size: 2.813rem;
}

.fifth_section_title_c{
  font-size: 15px;
  font-family: 'Overlock', sans-serif;
  color: rgb(139, 138, 138);
}

.github_pages_link_decoration {
  text-decoration: underline;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  /* center horizontally  */
  margin: 0 auto; 
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

/* dragging behavior */
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  /* initial is 340px */
  height: 611px;
  /* this worked but made images squished */
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  /* object-fit: contain;  */
}
.carousel img:first-child{
  margin-left: 0px;
}

/* .fa-solid.fa-angle-right {
  padding-right: 9px;
}
.fa-solid.fa-angle-left {
  padding-left: 7px;
} */

@media screen and (max-width: 1200px) {
  .fa-solid.fa-angle-right {
    padding-right: 7px;
  }
  .fa-solid.fa-angle-left {
    padding-left: 7px;
  }
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}



/* .lower_section span {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  right:0;
} */


/* section {
  float:left;
  width: 70%;
}

aside {
  float: right;
  width: 25%;
} */

/* a:link {
  color: rgb(113, 115, 245);
  font-family: overlock;
  font-size: 30px;
  color: rgb(113, 115, 245);
} */

/*
a:hover {
  background-color: purple;
} */

a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
a:hover { color: black}
a:active { color: black}

/* @media (max-width: 767px) {
  img {
    height: 0 rem;
  }
} */

/* small screens */
@media(max-width: 783px){

  /* index page */
  .navbar_container {
    display: none;
  }
  .upper_section_third_item{
    display: none;
  }

  .brand_container{
    justify-content: center;
    align-items: center;
    margin-left:0rem;
  }

  .upper_section {
    justify-content: center;
    justify-content: space-evenly;
  }

   /* properties for dropdown menu */
  .dropdown {
    display: inline-block;
    display: flex;
    flex-direction: column;
    /* padding-left: 25px; */
    direction:rtl;
  }

  .dropbtn {
    /* background-color: grey; */
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    /* border: none;
    cursor: pointer; */
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: grey;
  }

  /* .container{
    overflow-x: scroll;
  } */

  /* huge bug for small screens */
  .third_section_title {
    padding: 0;
  }
  
  /* fix the spacing that comes by default by user stylesheet */
  .third_section_text1 p{
    /* /* margin-block-start: 0px; */
    margin-block-end: 0px; 
    margin-inline-start: 0px;
    /* margin-inline-end: 0px; */
  }

  /* fix the spacing that comes by default by user stylesheet */
  .third_section_text2 p{
    margin-block-start: 15px; 
    /* margin-inline-start: 0px; */
  } 

}

/* @media(min-width: 1650px){
  a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
  a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}

  .fifth_section_title_a{
    font-family: "Snell Roundhand W01 Script";
    font-size: 3.75rem;
  }

  /* initial values 162 - 140 px */
  /* .brand_container { */
    /* increase 30% */
    /* img {
      width: 215px;
      height: 188.86px;
    } */
  /* }
} */ 

/* increase by 50% */
/* @media(min-width: 2000px){
  .second_section_home {
    height: 50rem;
  }

  .brand_container img {
    width: 240px;
    height: 210px;
  }
  .fifth_section_title_a {
    font-size: 4.21rem;
  } 

  a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2.25rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
  a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2.25rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
} */

/* increase by 70% */
@media(min-width: 2000px){

  .second_section_home {
    height: 51rem;
  }

  .brand_container img{
    width: 272px;
    height: 238px;
  }

  .fifth_section_title_a {
    font-size: 4.78rem;
  } 

  .fifth_section_title_c {
    font-size: 25.5px;
  }

  a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2.55rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
  a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 2.55rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
}






/*Devices smaller than 767px - mobile*/
/* @media (max-width: 767px) { */
  /* h4 {
    font-size: 22px;
  } */
  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  } */
  /* body { */
    /* color:blue; */
    /* font-size: 150%; */
    

  /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure full viewport height */
    /* margin: 0; 
  } */

  /* .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .navbar_container {
    width: 100%; 
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .second_section_home {
      padding: 10rem 0; 
  }

  .brand_container img {
      max-width: 100%; 
      height: auto; 
  } */
/* } */

/*Devices smaller than 767px - mobile*/
/* @media (max-width: 767px) { */
  /* h4 {
    font-size: 22px;
  } */

  /* body {
    font-size: 500px;
  } */

/* } */

/*Devices between 768px and 1024px - tablet*/
/* @media (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 28px;
  }
} */

/*Devices larger than 1024px - desktop*/
/* @media (min-width: 1024px) {
  h4 {
    font-size: 42px;
  }
} */