
/* include this always in css probably */
* { 
  margin: 0; 
  padding: 0; 
 } 

body { 
  background-color: white;
  margin: 0; 
  padding: 0; 
  text-align: center;
  /* font-size: 555px; */
  /* font-size: 55px; */
  /* font-family: 'Fredericka the Great';  */
  /* font-family: 'Roboto', arial; */
  /* font-family: Arial, CenturyGothic, sans-serif; */
  /* font-size: 18px; */
}

.container {
  display: flex;
  flex-direction: column;
}

/* input, label {
  display:block;
} */

.upper_section {
  color: rgb(162, 182, 227);
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(137, 93, 157); */
  background-color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  /* padding: 0.1rem; */
  width: auto;
  /* gap:15rem; */
}


.brand_container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-left:2rem;
  /* margin-left: 5rem;
  margin-right: 100rem; */
  /* margin-right: 35rem; */
}

.navbar_container {
  width: 27rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 3rem; */
  color:black;
  gap: 3.75rem;
}

/* invisible third item to align the navbar the way we like it */
.upper_section_third_item{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right:32rem;
  /* margin-right:50rem; */
}

hr {
  width: 40px;
  margin: auto;
  background-color: black;
  border: none;
  height: 2.5px;
}

.second_section_home {
  color: black;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/piercing_diamond6.png);
  /* background-color: #3b065e; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  padding: 20rem;
  position: relative;
}

.third_section_title {
  padding: 2rem;
}

.third_section_title
.third_section_text1{
  /* font-family: Fredericka the Great; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 3.438rem;
  /* font-style: normal;
  font-weight: 400; */
  font-family: 'Fredericka the Great';
  /* padding: 5.5rem; */
}

.third_section_title
.third_section_text2{
  font-size: 2.188rem;
  /* font-style: normal;
  font-weight: 400; */
  /* font-family: 'Rubik Bubbles'; */
  /* font-family: worksans-extralight,work sans,sans-serif; */
  font-family: "Geotica W01 Four Open";
  /* padding: 5.5rem; */
  /* padding: 0.5rem; */
}

.fourth_section_title{
  color: black;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/2.jpg);
  /* background-color: #3b065e; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* use this to change how big the rectange is */
  /* padding: 150px; */
  padding: 15rem;
  position: relative;
  margin:10px 40px 20px 40px;
}

.fifth_section_title_a{
  font-family: "Snell Roundhand W01 Script";
  font-size: 2.813rem;
}

.fifth_section_title_c{
  font-size: 15px;
  font-family: 'Overlock', sans-serif;
  color: rgb(139, 138, 138);
}

.github_pages_link_decoration {
  text-decoration: underline;
}

/* .lower_section span {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  right:0;
} */


/* section {
  float:left;
  width: 70%;
}

aside {
  float: right;
  width: 25%;
} */

/* a:link {
  color: rgb(113, 115, 245);
  font-family: overlock;
  font-size: 30px;
  color: rgb(113, 115, 245);
} */

/*
a:hover {
  background-color: purple;
} */

a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
a:hover { color: black}
a:active { color: black}